################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/KTStore_POS/.vs
/KTStore_POS/KTStore_POS/obj/Debug
